/* Remova o padding universal se não for necessário */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px; /* Ajuste conforme necessário */
  background-color: #0b2a3b;

}

.container__header {
  display: flex;
  flex-direction: column;
  padding: 25px; /* Ajuste conforme necessário */
}



.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  gap: 20px;
}



.socialContainer {
  width: 57px;
  height: 57px;
  background: #0e0d0d;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background-color 0.3s;
}

.instagram:hover {
  background-color: #d62976;
}

.gmail:hover {
  background-color: #D44638;
}

.linkedin:hover {
  background-color: #0072b1;
}

.whatsapp:hover {
  background-color: #128C7E;
}

.text-content{
  font-size: 19px;
}

.socialContainer:active {
  transform: scale(0.9);
  transition: transform 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

.container__image {
  display: flex;
  margin-right: 20px; /* Ajuste conforme necessário */
}

.my-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}



body{
  background-color: #1C1C1C;
  padding: 150px;
  margin: 0;
  padding: 50px;
}

body > h1 {
  text-align: center;
  font-size: 50px;
  
}

.card__body {
  font: 10px;
  display: flex;
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  gap: 20px; /* Define o espaço entre os elementos */
  box-sizing: border-box;
}





@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
