<header id="header">
  <div class="logo">
    <a href="/">Portfolio</a>
  </div>
  <nav id="nav">
    <span (click)="btnMobile()" [ngClass]="btnMenu ? 'ativo': ''"></span>
    <ul id="menu" [ngClass]="btnMenu ? 'ativo' : ''">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="contato">Contato</a></li>
      <li><a routerLink="servicos">Serviços</a></li>
      <li><a routerLink="habilidades">Habilidades</a></li>
      <li><a routerLink="projetos">Projetos</a></li>
    </ul>
  </nav>
</header>

